In [1]:
import sys
import os
# Add the parent directory to the Python path
script_dir = os.getcwd() # Get the current working directory
sys.path.append(os.path.abspath(os.path.join(script_dir, '..')))

import pandas as pd
from src.paths import TRANSFORMED_DATA_DIR

features_and_target = pd.read_parquet(TRANSFORMED_DATA_DIR / 'validated_churn_data.parquet')

features_and_target

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
import pandas as pd
import plotly.express as px

def plot_churned_unchurned(
    customers: pd.DataFrame,
    column_to_plot: str
    ):
  """
  Plots the counts of a categorical variable as a bar chart using Plotly.

  Args:
      customers (pandas.DataFrame): The DataFrame containing the categorical variable.
      category_column (str): The name of the column containing the categorical data.
  """

  # Count the occurrences of each category
  category_counts = customers[column_to_plot].value_counts()
  

  # Create the bar chart using px.bar
  fig = px.bar(category_counts, x=category_counts.index, y=category_counts.values, color={1:"Unchurned", 0:"Churned"})

  # Customize the chart (optional)
  fig.update_layout(title='Category Counts', xaxis_title=column_to_plot, yaxis_title='Count')

  # Display the chart
  fig.show()

# Example usage (assuming you have a DataFrame 'customers')
plot_churned_unchurned(features_and_target, 'Exited')